@model SalesViewModel

@{
    ViewData["Title"] = "Sales";
}

<h1>Add a Sales</h1>

<p>Create a new sales entry for a customer.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="@((List<SelectListItem>)ViewData["customers"])">
                    <option value="">-- Select Customer --</option>
                </select>
                <span asp-validation-for="CustomerId" class="text-danger" />
            </div>
            @{
                Model.LineItems = new List<LineItemViewModel> {
                    new LineItemViewModel(),
                };

                @foreach (var lineitem in Model.LineItems)
                {
                    <div class="p-2 mb-3 border">

                        <div class="form-group">
                            <label asp-for="@lineitem.Quantity" class="control-label"></label>
                            <input asp-for="@lineitem.Quantity" class="form-control" />
                            <span asp-validation-for="@lineitem.Quantity" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@lineitem.ProductId" class="control-label"></label>
                            <select asp-for="@lineitem.ProductId" class="form-control" asp-items="@((List<SelectListItem>)ViewData["products"])">
                                <option value="">-- Select Product --</option>
                            </select>
                            <span asp-validation-for="@lineitem.ProductId" class="text-danger" />
                        </div>

                    </div>
                }
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" role="button" asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

