@model List<SalesViewModel>

@{
    ViewData["Title"] = "Sales";
}

<div class="row mb-3">
    <div class="col-sm-8">
        <h1>Sales</h1>
    </div>
    <div class="col-sm-4 add-btn-container">
        <a class="btn btn-primary" role="button" asp-action="Create">Add a Sale</a>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-8">
        <p>List of all Sales.</p>
    </div>
</div>

<table class="table table-hover table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                Id
            </th>
            <th>
                Date
            </th>
            <th>
                Customer
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesTotal)
                </td>
                <td>
                    <a class="badge badge-info action-button" asp-action="Details" asp-route-id="@item.SalesId">Details</a>
                    <a class="badge badge-danger action-button" asp-action="Delete" asp-route-id="@item.SalesId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
