@model PaginatedList<XpertGroceryManager.Models.Product>

@{
    ViewData["Title"] = "Unsold Products";
}


<div class="row mb-3">
    <div class="col-sm-8">
        <h1>Unsold Products</h1>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-8">
        <p>List of products that haven't been sold in the last 31 days.</p>
    </div>
</div>



<div class="serachbox mb-3">
    <form asp-action="UnsoldProducts" method="get">
        <div class="form-actions no-color">
            <p>
                Find: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-secondary" />
                <a asp-action="UnsoldProducts">Reset</a>
            </p>
        </div>
    </form>
</div>

<table class="table table-hover table-striped mb-3">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                <a asp-action="UnsoldProducts" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
            </th>
            <th scope="col">
                <a asp-action="UnsoldProducts" asp-route-sortOrder="@ViewData["QuantitySortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Quantity</a>
            </th>
            <th scope="col">
               Last Sold
            </th>
            <th scope="col">
                Category
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock.Quantity)
                </td>
                <td>
                    @if (item.SalesLineItems.Any())
                    {
                        @Html.DisplayFor(modelItem => item.SalesLineItems.OrderByDescending(s => s.Sales.SalesDate).First().Sales.SalesDate)
                    }
                    else
                    {
                        @Html.DisplayName("Not Sold")
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a class="badge badge-info action-button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="UnsoldProducts"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-secondary @prevDisabled">
    Previous
</a>
<a asp-action="UnsoldProducts"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-secondary @nextDisabled">
    Next
</a>
